body{
    background-image: url("https://images.hdqwalls.com/wallpapers/up-down-lines-light-mode-8k-o9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#image:hover{
    height:110px;
 transition:0.5s;
 
}

#forms{
    border: 3px solid rgb(199, 140, 223);
    border-radius: 20px;
    
    background-image: linear-gradient(to bottom right,rgb(243, 136, 136),powderblue,rgb(193, 241, 170));
    
    width: 500px;;
    height: 550px;
    color: black;
   
}

.box{
    border: 1px solid rgb(132, 194, 199);
    border-radius: 20px;
    padding: 5px;
 } 

footer{
    background-color: black;
    color:antiquewhite;
}